################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrgCapFromCouncilorLevel/v16
/OrgCapFromCouncilorLevel/bin
/OrgCapFromCouncilorLevel/obj
/mod
*.csproj
/OrgCapFromCouncilorLevel/Properties
